<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr />
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="mb-3">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email"/>
                <app-validation-message [control]="loginForm.get('email')!" controlName="Email"></app-validation-message>
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" />
                <app-validation-message [control]="loginForm.get('password')!" controlName="Password"></app-validation-message>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
    </div>
</div>
