<div class="row">
    <h3>Add post here</h3>
    <hr />
    <div class="col-md-12">
        <form action="" [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title" />
                <app-validation-message [control]="postForm.get('title')!" controlName="Title"></app-validation-message>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <app-validation-message [control]="postForm.get('description')!" controlName="Description"></app-validation-message>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Add Post</button>
            </div>
        </form>
    </div>
</div>
